//* SIN MEDIA QUERIES *//

@mixin bordes {
	border-style: double;
	border-color: $color-tres;
}

.index1 {
	@include bordes;
	background-color: $color-uno;
	margin: 5px;
	margin-top: 80px;
	max-height: 95vh;
}

.primertexto__parrafo {
	text-align: center;
	margin-left: 1vh;
	margin-right: 1vh;
}

.lista_index {
	display: none;
}

.fondo_foto1 {
	height: 100%;
}

//* SOLO VISTA WEB *//
.fondoweb {
	@include bordes;
	background-color: $color-uno;
	display: grid;
	margin: 5px;
	margin-top: 5vh;
	margin-bottom: 10vh;
	max-height: 105vh;
}

.grid-item {
	background-image: radial-gradient($color-tres, $color-dos, $color-uno);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 20px;
	text-align: center;
	color: $color-blanco;
}

.grid-container {
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
	height: 90%;
}

@mixin center($extend: true) {
	position: absolute;
	left: 50%;
	margin-top: 10vh;
	transform: translateX(-50%) translateY(-50%);
}

button {
	@include center;
	background: $color-uno;
	color: $color-blanco;
	width: 200px;
	height: 60px;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	font-family: 'Raleway', sans-serif;
	transition: .6s;
	overflow: hidden;
	position: relative;

	a {
		text-decoration: none !important;
		&:focus {
			outline: 0;
		}
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		background: $color-dos;
		width: 60px;
		height: 100%;
		left: 0;
		top: 0;
		opacity: .5;
		filter: blur(30px);
		transform: translateX(-100px) skewX(-15deg);
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		background: $color-dos;
		width: 30px;
		height: 100%;
		left: 30px;
		top: 0;
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100px) skewX(-15deg);
	}
}

.fondo_botones {
	@include bordes;
	display: grid;
	background: radial-gradient($color-dos, $color-uno);
	margin: 5px;
	max-height: 103vh;
}