//* SIN MEDIA QUERIES *//

@mixin bordes {
    border-style: double;
	border-color: $color-tres;
}

.nosotros1 {
    @include bordes;
    background-color: $color-uno;
    margin-top: 80px;
    padding-bottom: 150px;
    max-height: 300vh;
    height: 135vh;
}

.nosotros2 {
    @include bordes;
    background-color: $color-uno;
    margin-top: 80px;
    padding-bottom: 150px;
    max-height: 300vh;
    height: 135vh;
}