//* FUENTES *//
@import "https://fonts.googleapis.com/css2?family=Bungee&display=swap";
//* VARIABLES *//
@import "variables";

//* LAYOUT *//
@import "layout/navyfooter";
@import "layout/header";

//* PAGES *//
@import "index";
@import "servicios";
@import "nosotros";
@import "ubicacion";
@import "contacto";

//* RESTO DEL SCSS *//
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
* {
	color: #ffffff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0px;
	padding: 0px;
}

@mixin bordes {
    border-style: double;
	border-color: $color-tres;
}
@mixin background{
    background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
    @include background;
	background-image: url(foto.jpg);
}
//* MEDIA QUERIES *// VISTA DESKTOP
@media only screen and (min-width: $ancho) {
	.menu {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		font-size: 15px;
		padding-right: 15%;
	}
	h1 {
		color: $color-blanco;
		padding-bottom: 45px;
		padding-top: 50px;
		-webkit-text-stroke: 1px $color-tres;
		font-size: 40px;
		text-align: center;
		background-color: $color-uno;
		filter: alpha(opacity=70);
		-moz-opacity: .70;
		opacity: .70;
		line-height: 5px;
	}
	.index1 {
		padding-bottom: 130px;
		margin-left: 30vh;
		margin-right: 30vh;
		max-height: 103vh;
	}
	.lista_index {
		position: absolute;
		display: grid;
		padding-top: 5vh;
		padding-left: 5vh;
		width: 40%;
	}
	.listas_index {
		list-style-image: url(../photos/check.png);
	}
	.list1 {
		background: linear-gradient(to right, transparent, $color-uno, $color-dos, $color-tres, $color-blanco, transparent);
		margin-bottom: 3vh;
		margin-left: 5vh;
		border-style: solid 1px;
		border-radius: 5px;
	}
	.list2 {
		background: linear-gradient(to right, transparent, $color-uno, $color-dos, $color-tres, $color-blanco, transparent);
		margin-bottom: 3vh;
		margin-left: 5vh;
	}
	.list3 {
		background: linear-gradient(to right, transparent, $color-uno, $color-dos, $color-tres, $color-blanco, transparent);
		margin-top: 3vh;
		margin-left: 5vh;
	}
	.fondo_foto1 {
		img {
			height: 100%;
		}
	}
	.fondoweb {
		display: none;
	}
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		height: 5vh;
	}
	footer {
		font-size: 15px;
	}
	.servicios1 {
		margin-left: 35vh;
		margin-right: 35vh;
		text-align: center;
		height: 25vh;
		padding-bottom: 90px;
	}
	.fondoservicios {
		@include bordes;
		background-color: $color-uno;
		padding: 25px;
		margin: 5px;
		margin-top: 30px;
		text-align: center;
		height: 95vh;
	}
	#slider {
		background: $color-blanco;
		width: 600px;
		height: 300px;
		margin: 20px auto;
		overflow: hidden;
		border-radius: .5rem;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
	}
	.nosotros1 {
		margin-left: 35vh;
		margin-right: 35vh;
		text-align: center;
		height: 20vh;
	}
	.fondo_ubi {
        @include bordes;
		background-color: $color-uno;
		margin: 5px;
		margin-top: 80px;
		padding-bottom: 130px;
		height: 80vh;
		margin-bottom: 65px;
	}
	.textoubi1 {
		padding-bottom: 60px;
		padding-top: 50px;
		padding-right: 35px;
		text-align: right;
		border: none;
	}
	.textoubi2 {
		float: right;
		padding-right: 200px;
		line-height: 85px;
	}
	#iframe {
		width: 30%;
		height: 99%;
	}
	.map {
        @include bordes;
		padding-left: 80px;
		border-left: transparent;
		border-right: transparent;
		height: 50vh;
	}
	.contacto1 {
        @include bordes;
		background-color: $color-uno;
		display: grid;
		grid-template-columns: auto auto;
		height: 100%;
		margin-top: 80px;
		margin-bottom: 65px;
		padding-bottom: 110px;
		text-align: start;
		font-size: 3vh;
	}
	.contacto1__contact {
		display: grid;
		grid-template-columns: auto;
		margin-top: 30px;
		font-size: 3vh;
		width: 50%;
		padding-bottom: 3vh;
	}
	.telefono {
		text-align: left;
		margin-left: 25px;
		grid-column: 1;
	}
	.redes {
		grid-column: 1;
		text-align: left;
		margin-left: 25px;
	}
	.fbig {
		grid-column: 1;
	}
	.mail {
		grid-column: 1;
	}
	.correo {
		grid-column: 1;
	}
	.contacto1__form {
		grid-template-columns: auto;
		padding-left: 120vh;
		position: absolute;
		text-align: center;
	}
}
//* VISTA MOBIL *//
@media only screen and (max-width: ($ancho - 200)) {
	.ocultar_div {
		display: none;
	}
}
@media only screen and (max-width: ($ancho - 350)) {
	#iframe {
		width: 70%;
		height: 15%;
		align-items: center;
	}
}
