//* FUENTES *//
@import "https://fonts.googleapis.com/css2?family=Bungee&display=swap";
//* VARIABLES *//
@import "variables";

//* LAYOUT *//
@import "layout/navyfooter";
@import "layout/header";

//* PAGES *//
@import "index";
@import "servicios";
@import "nosotros";
@import "ubicacion";
@import "contacto";
@import "term";
@import "politic";
@import "productos";

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

* {
	color: #ffffff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0px;
	padding: 0px;
}

//* MIXIN *//
@mixin bordes {
	border-style: double;
	border-color: $color-tres;
}
@mixin background {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
@mixin hoverlinks {
	background-color: $color-cuatro;
	border-radius: 2px;
}

body {
	@include background;
	background-image: url(foto.jpg);
}

a {
	color: white !important;
}

//* MEDIA QUERIES *// VISTA DESKTOP
@media only screen and (min-width: $ancho) {
	nav {
		@include bordes;
		display: grid;
		justify-content: space-evenly;
		background-color: $color-uno;
		margin: 5px;
		grid-template-columns: 5;
		font-size: 15px;
		word-spacing: 100px;
		.menu {
			margin: 5px;
			a:hover {
				@include hoverlinks;
			}
		}
	}
	h1 {
		color: $color-blanco;
		padding-bottom: 45px;
		padding-top: 50px;
		-webkit-text-stroke: 1px $color-tres;
		font-size: 40px;
		text-align: center;
		background-color: $color-cuatro;
		filter: alpha(opacity=70);
		-moz-opacity: .70;
		opacity: .70;
		line-height: 5px;
	}

	.index1 {
		padding-bottom: 130px;
		margin-left: 30vh;
		margin-right: 30vh;
		max-height: 103vh;
	}

	.lista_index {
		position: absolute;
		display: grid;
		padding-top: 5vh;
		padding-left: 5vh;
		width: 40%;
	}

	.listas_index {
		list-style-image: url(../photos/check.png);
	}

	.list1 {
		background: linear-gradient(to right, transparent, $color-uno, $color-dos, $color-tres, $color-blanco, transparent);
		margin-bottom: 3vh;
		margin-left: 5vh;
		border-style: solid 1px;
		border-radius: 5px;
	}

	.list2 {
		background: linear-gradient(to right, transparent, $color-uno, $color-dos, $color-tres, $color-blanco, transparent);
		margin-bottom: 3vh;
		margin-left: 5vh;
	}

	.list3 {
		background: linear-gradient(to right, transparent, $color-uno, $color-dos, $color-tres, $color-blanco, transparent);
		margin-top: 3vh;
		margin-left: 5vh;
	}

	@mixin center($extend: true) {
		@if $extend {
			@extend %center;
		}
		@else {
			position: absolute;
			left: 50%;
			margin-top: 10vh;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	%center {
		@include center($extend: false);
	}
	button {
		@include center;
		background: $color-uno;
		color: $color-blanco;
		width: 200px;
		height: 60px;
		border: 0;
		font-size: 18px;
		border-radius: 4px;
		font-family: 'Raleway', sans-serif;
		transition: .6s;
		overflow: hidden;
		position: relative;
		a {
			text-decoration: none !important;
			&:focus {
				outline: 0;
			}
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			background: $color-dos;
			width: 60px;
			height: 100%;
			left: 0;
			top: 0;
			opacity: .5;
			filter: blur(30px);
			transform: translateX(-100px) skewX(-15deg);
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: $color-dos;
			width: 30px;
			height: 100%;
			left: 30px;
			top: 0;
			opacity: 0;
			filter: blur(5px);
			transform: translateX(-100px) skewX(-15deg);
		}
		&:hover {
			background: $color-tres;
			cursor: pointer;
			&:before {
				transform: translateX(300px) skewX(-15deg);
				opacity: 0.6;
				transition: .7s;
			}
			&:after {
				transform: translateX(300px) skewX(-15deg);
				opacity: 1;
				transition: .7s;
			}
		}
	}

	.fondo_botones {
		@include bordes;
		display: grid;
		background: radial-gradient($color-dos, $color-uno);
		margin-left: 70vh;
		margin-right: 70vh;
		max-height: 103vh;
	}

	.fondo_foto1 {
		img {
			height: 100%;
		}
	}

	.fondoweb {
		display: none;
	}

	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		height: 5vh;
	}

	footer {
		font-size: 15px;
	}

	.servicios1 {
		margin-left: 35vh;
		margin-right: 35vh;
		text-align: center;
		height: 25vh;
		padding-bottom: 90px;
	}

	.fondoservicios {
		@include bordes;
		background-color: $color-uno;
		padding: 25px;
		margin: 5px;
		margin-top: 30px;
		text-align: center;
		height: 95vh;
	}

	#slider {
		background: $color-blanco;
		width: 600px;
		height: 300px;
		margin: 20px auto;
		overflow: hidden;
		border-radius: .5rem;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
	}

	.nosotros1 {
		margin-left: 35vh;
		margin-right: 35vh;
		text-align: center;
		height: 35vh;
		padding-bottom: 150px;
		margin-bottom: -40px;
	}

	.nosotros1_parrafo {
		padding: 5px 5px;
	}

	.nosotros2 {
		display: flex;
		flex: wrap;
		justify-content: center;
		margin-left: 35vh;
		margin-right: 35vh;
		height: 25vh;
		padding-bottom: 150px;
	}

	.caja {
		width: 250px;
		height: 250px;
		margin: 10px;
		padding: 20px;
		border: 2px solid $color-cuatro;
		border-radius: 14px;
		text-align: center;
		position: relative;
	}

	.caja img {
		margin-top: 58px;
		transition: all 400ms;
	}

	.caja h4 {
		margin-top: 10px;
		transition: all 500ms;
	}

	.caja .container_parrafo {
		width: 100%;
		height: 150px;
		position: absolute;
		left: 0;
		bottom: 0;
		border-radius: 0px 0px 14px 14px;
		overflow: hidden;
	}

	.caja p {
		font-size: 15px;
		opacity: 0;
		transform: translateY(150px);
		transition: all 600ms;
	}

	//* HOVER *//
	.caja:hover {
		background: $color-dos;
	}

	.caja:hover img {
		transform: translateY(-57px);
	}

	.caja:hover h4 {
		transform: translateY(-57px);
	}

	.caja:hover .container_parrafo p {
		transform: translateY(0px);
		opacity: 1;
	}

	.fondo_ubi {
		@include bordes;
		display: grid;
		background-color: $color-uno;
		margin: 5px;
		margin-top: 80px;
		margin-left: 30vh;
		margin-right: 30vh;
		margin-bottom: 65px;
		padding-bottom: 350px;
		height: 40vh;
		max-width: 70%;
	}

	.textoubi1 {
		padding-bottom: 45px;
		padding-top: 30px;
		padding-right: 35px;
		text-align: right;
		border: none;
		grid-column: 1;
	}

	.textoubi2 {
		float: left;
		padding-right: 260px;
		padding-bottom: 5vh;
		line-height: 85px;
		img:hover {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
	}

	#iframe {
		height: 50vh;
		width: 65vh;
		position: relative;
		float: right;
		margin-left: 50vh;
		margin-top: -55vh;
	}

	.contacto1 {
		@include bordes;
		background-color: $color-uno;
		display: grid;
		grid-template-columns: auto auto;
		height: 100%;
		margin-top: 80px;
		margin-bottom: 65px;
		padding-bottom: 90px;
		text-align: start;
		font-size: 3vh;
		margin-left: 30vh;
		margin-right: 30vh;
	}

	.contacto1__contact {
		display: grid;
		grid-template-columns: auto;
		margin-top: 30px;
		font-size: 3vh;
		width: 50%;
		padding-bottom: 3vh;
	}

	.telefono {
		text-align: left;
		margin-left: 25px;
		grid-column: 1;
	}

	.redes {
		grid-column: 1;
		text-align: left;
		margin-left: 25px;
	}

	.fbig {
		grid-column: 1;
	}

	.mail {
		grid-column: 1;
	}

	.correo {
		grid-column: 1;
	}

	.contacto1__form {
		grid-template-columns: auto;
		padding-left: 90vh;
		position: absolute;
		text-align: center;
	}

	.terms {
		max-height: 160vh;
		padding-bottom: 60px;
		margin-left: 30vh;
		margin-right: 30vh;
	}
}
//* VISTA MOBIL *//
@media only screen and (max-width: ($ancho - 200)) {
	.ocultar_div {
		display: none;
		#iframe {
			width: 5vh;
			margin-top: 30vh;
		}
	}
}

