@import "https://fonts.googleapis.com/css2?family=Bungee&display=swap";
.fotologo {
  text-align: center; }

nav {
  border-style: double;
  border-color: #007ea7;
  display: grid;
  justify-content: space-evenly;
  background-color: #00171f;
  margin: 5px;
  grid-template-columns: 5;
  font-size: 12px;
  word-spacing: 15px; }
  nav .menu {
    margin: 5px; }

footer {
  display: grid;
  font-size: 10px;
  margin-top: 10vh; }

.fondo_lasttext {
  border-style: double;
  border-color: #007ea7;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #00171f;
  height: 13vh;
  padding-top: 15px; }
  .fondo_lasttext .text_lasttext {
    background: linear-gradient(to right, transparent, #003459, #007ea7, #003459, transparent);
    text-align: center;
    font-size: 1rem; }
  .fondo_lasttext .logosmall {
    padding-top: 2vh; }
  .fondo_lasttext img:hover {
    background: linear-gradient(to right, transparent, #003459, #007ea7, #003459, transparent);
    padding-left: 50vh;
    padding-right: 50vh;
    transition: 5s; }

.fondo_copyright {
  border-style: double;
  border-color: #007ea7;
  display: grid;
  grid-template-columns: 2;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #00171f;
  height: 10vh;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  padding-left: 3vh; }

.term {
  grid-column: 1; }
  .term a:hover {
    background-color: #00a8e8;
    border-radius: 2px;
    color: #00171f; }

.politic {
  grid-column: 1; }
  .politic a:hover {
    background-color: #00a8e8;
    border-radius: 2px;
    color: #00171f; }

.copyright {
  grid-column: 1; }

.irarriba {
  grid-column: 2;
  padding-right: 3vh; }
  .irarriba a:hover {
    background-color: #00a8e8;
    border-radius: 2px;
    color: #00171f; }

hr {
  color: #00a8e8; }

h1 {
  color: #ffffff;
  padding-bottom: 45px;
  padding-top: 50px;
  -webkit-text-stroke: 1px #007ea7;
  font-size: 40px;
  text-align: center;
  background-color: #00171f;
  filter: alpha(opacity=70);
  -moz-opacity: .70;
  opacity: .70;
  line-height: 38px; }

h2 {
  color: #ffffff;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 25px;
  -webkit-text-stroke: 1px #007ea7;
  text-align: center; }

h3 {
  color: #ffffff;
  display: grid;
  padding-bottom: 40px;
  padding-top: 20px;
  -webkit-text-stroke: 1px #007ea7;
  font-size: 25px;
  text-align: center; }

h5 {
  padding-bottom: 15px;
  color: #ffffff;
  -webkit-text-stroke: 1px #007ea7;
  font-size: 25px;
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-left: 2vh;
  margin-right: 2vh; }

.index1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin: 5px;
  margin-top: 80px;
  max-height: 95vh; }

.primertexto__parrafo {
  text-align: center;
  margin-left: 1vh;
  margin-right: 1vh; }

.lista_index {
  display: none; }

.fondo_foto1 {
  height: 100%; }

.fondoweb {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  display: grid;
  margin: 5px;
  margin-top: 5vh;
  margin-bottom: 10vh;
  max-height: 105vh; }

.grid-item {
  background-image: radial-gradient(#007ea7, #003459, #00171f);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #ffffff; }

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  height: 90%; }

.servicios1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin: 5px;
  margin-top: 80px;
  padding-bottom: 50px;
  height: 40vh; }

.servicios1__texto {
  display: grid;
  text-align: center;
  padding-bottom: 15px; }

.fondoservicios {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  height: 35vh;
  margin: 5px;
  margin-top: 30px; }

ul {
  list-style: none; }

.listas {
  border-style: ridge;
  border-color: #003459;
  -webkit-text-stroke: #00a8e8; }

.li1 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li2 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li3 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li4 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li5 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li6 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li7 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li8 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li9 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

#slider .foto_slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  overflow: hidden;
  border-left: 10px solid #ffffff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  transform: skewX(-20deg);
  transition: width 1.2s ease-in-out; }

#slider:hover div {
  width: 108px;
  cursor: default; }
  #slider:hover div:hover {
    width: 392px; }

#slider > div:first-child {
  margin-left: -63px; }

#slider > div:last-child {
  margin-right: -63px; }

.foto_slide img {
  margin-left: -55px;
  transform: skewX(20deg); }

#fotoservicios {
  margin-bottom: 80px; }

.nosotros1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin-top: 80px;
  padding-bottom: 110px; }

.fondo_ubi {
  border-style: double;
  border-color: #007ea7;
  grid-template-columns: 1;
  max-height: 180vh;
  max-width: 100vh;
  background-color: #00171f;
  margin: 5px;
  margin-top: 80px;
  margin-bottom: 65px; }
  .fondo_ubi iframe {
    width: 99%;
    display: block; }

.textoubi1 {
  text-align: center;
  padding-left: 5px;
  padding-bottom: 20px;
  margin-left: 2vh;
  margin-right: 2vh; }

.textoubi2 {
  padding-right: 50px;
  line-height: 85px;
  padding-left: 20px; }

.contacto1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  display: grid;
  margin: 5px;
  padding-bottom: 110px;
  text-align: center;
  margin-bottom: 15vh; }

.contacto1__contact {
  display: grid;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-bottom: 3vh;
  padding-right: 5vh;
  font-size: 2vh; }

.telefono {
  text-align: left;
  margin-left: 25px;
  font-style: italic; }

.redes {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px; }

.fbig {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px;
  font-style: italic; }

.mail {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px; }

.correo {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px;
  font-style: italic; }

.contacto1__form {
  margin-top: 5vh; }

input {
  color: black; }

#consulta {
  color: black; }

#botonenviar {
  background-color: #007ea7;
  border-style: dotted;
  border-color: #007ea7;
  height: 5vh;
  width: 15vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 2s; }
  #botonenviar:hover {
    width: 45vh; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

* {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px; }

body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(foto.jpg); }

@media only screen and (min-width: 800px) {
  nav {
    border-style: double;
    border-color: #007ea7;
    display: grid;
    justify-content: space-evenly;
    background-color: #00171f;
    margin: 5px;
    grid-template-columns: 5;
    font-size: 15px;
    word-spacing: 100px; }
    nav .menu {
      margin: 5px; }
      nav .menu a:hover {
        background-color: #00a8e8;
        border-radius: 2px; }
  h1 {
    color: #ffffff;
    padding-bottom: 45px;
    padding-top: 50px;
    -webkit-text-stroke: 1px #007ea7;
    font-size: 40px;
    text-align: center;
    background-color: #00171f;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    line-height: 5px; }
  .index1 {
    padding-bottom: 130px;
    margin-left: 30vh;
    margin-right: 30vh;
    max-height: 103vh; }
  .lista_index {
    position: absolute;
    display: grid;
    padding-top: 5vh;
    padding-left: 5vh;
    width: 40%; }
  .listas_index {
    list-style-image: url(../photos/check.png); }
  .list1 {
    background: linear-gradient(to right, transparent, #00171f, #003459, #007ea7, #ffffff, transparent);
    margin-bottom: 3vh;
    margin-left: 5vh;
    border-style: solid 1px;
    border-radius: 5px; }
  .list2 {
    background: linear-gradient(to right, transparent, #00171f, #003459, #007ea7, #ffffff, transparent);
    margin-bottom: 3vh;
    margin-left: 5vh; }
  .list3 {
    background: linear-gradient(to right, transparent, #00171f, #003459, #007ea7, #ffffff, transparent);
    margin-top: 3vh;
    margin-left: 5vh; }
  .fondo_foto1 img {
    height: 100%; }
  .fondoweb {
    display: none; }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 5vh; }
  footer {
    font-size: 15px; }
  .servicios1 {
    margin-left: 35vh;
    margin-right: 35vh;
    text-align: center;
    height: 25vh;
    padding-bottom: 90px; }
  .fondoservicios {
    border-style: double;
    border-color: #007ea7;
    background-color: #00171f;
    padding: 25px;
    margin: 5px;
    margin-top: 30px;
    text-align: center;
    height: 95vh; }
  #slider {
    background: #ffffff;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7); }
  .nosotros1 {
    margin-left: 35vh;
    margin-right: 35vh;
    text-align: center;
    height: 20vh; }
  .fondo_ubi {
    border-style: double;
    border-color: #007ea7;
    display: grid;
    background-color: #00171f;
    margin: 5px;
    margin-top: 80px;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 65px;
    padding-bottom: 350px;
    height: 40vh;
    max-width: 70%; }
  .textoubi1 {
    padding-bottom: 45px;
    padding-top: 30px;
    padding-right: 35px;
    text-align: right;
    border: none;
    grid-column: 1; }
  .textoubi2 {
    float: left;
    padding-right: 260px;
    padding-bottom: 5vh;
    line-height: 85px; }
    .textoubi2 img:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
  #iframe {
    height: 50vh;
    width: 65vh;
    position: relative;
    float: right;
    margin-left: 50vh;
    margin-top: -55vh; }
  .contacto1 {
    border-style: double;
    border-color: #007ea7;
    background-color: #00171f;
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 65px;
    padding-bottom: 90px;
    text-align: start;
    font-size: 3vh;
    margin-left: 30vh;
    margin-right: 30vh; }
  .contacto1__contact {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    font-size: 3vh;
    width: 50%;
    padding-bottom: 3vh; }
  .telefono {
    text-align: left;
    margin-left: 25px;
    grid-column: 1; }
  .redes {
    grid-column: 1;
    text-align: left;
    margin-left: 25px; }
  .fbig {
    grid-column: 1; }
  .mail {
    grid-column: 1; }
  .correo {
    grid-column: 1; }
  .contacto1__form {
    grid-template-columns: auto;
    padding-left: 90vh;
    position: absolute;
    text-align: center; } }

@media only screen and (max-width: 600px) {
  .ocultar_div {
    display: none; }
    .ocultar_div #iframe {
      width: 5vh;
      margin-top: 30vh; } }
