@import "https://fonts.googleapis.com/css2?family=Bungee&display=swap";
.fotologo {
  text-align: center; }

nav {
  border-style: double;
  border-color: #007ea7;
  display: grid;
  justify-content: space-evenly;
  background-color: #00171f;
  grid-template-columns: 7;
  margin: 5px;
  font-size: 12px;
  word-spacing: 15px; }
  nav .menu {
    margin: 5px; }
  nav .divcarrito {
    display: grid;
    justify-content: right;
    position: relative;
    margin-left: 25px;
    padding-left: 50px; }

footer {
  color: white;
  display: grid;
  font-size: 10px;
  margin-top: 10vh; }

.fondo_lasttext {
  border-style: double;
  border-color: #007ea7;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #00171f;
  height: 13vh;
  padding-top: 15px; }
  .fondo_lasttext .text_lasttext {
    background: linear-gradient(to right, transparent, #003459, #007ea7, #003459, transparent);
    text-align: center;
    font-size: 1rem; }
  .fondo_lasttext .logosmall {
    padding-top: 2vh; }
  .fondo_lasttext img:hover {
    background: linear-gradient(to right, transparent, #003459, #007ea7, #003459, transparent);
    padding-left: 50vh;
    padding-right: 50vh;
    transition: 5s; }

.fondo_copyright {
  border-style: double;
  border-color: #007ea7;
  display: grid;
  grid-template-columns: 2;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #00171f;
  height: 10vh;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  padding-left: 3vh; }

.term {
  grid-column: 1; }
  .term a:hover {
    background-color: #00a8e8;
    border-radius: 2px;
    color: #00171f; }

.politic {
  grid-column: 1; }
  .politic a:hover {
    background-color: #00a8e8;
    border-radius: 2px;
    color: #00171f; }

.copyright {
  grid-column: 1; }

.irarriba {
  grid-column: 2;
  padding-right: 3vh; }
  .irarriba a:hover {
    background-color: #00a8e8;
    border-radius: 2px;
    color: #00171f; }

hr {
  color: #00a8e8 !important; }

h1 {
  color: #ffffff;
  padding-bottom: 45px;
  padding-top: 50px;
  -webkit-text-stroke: 1px #007ea7;
  font-size: 40px;
  text-align: center;
  background-color: #00171f;
  filter: alpha(opacity=70);
  -moz-opacity: .70;
  opacity: .70;
  line-height: 38px; }

h2 {
  color: #ffffff;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 25px;
  -webkit-text-stroke: 1px #007ea7;
  text-align: center; }

h3 {
  color: #ffffff;
  display: grid;
  padding-bottom: 40px;
  padding-top: 20px;
  -webkit-text-stroke: 1px #007ea7;
  font-size: 25px;
  text-align: center; }

h5 {
  padding-bottom: 15px;
  color: white;
  -webkit-text-stroke: 1px #007ea7;
  font-size: 25px;
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-left: 2vh;
  margin-right: 2vh; }

p {
  color: white;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.625;
  font-size: 14px;
  margin-bottom: 0px; }

.index1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin: 5px;
  margin-top: 80px;
  max-height: 95vh;
  color: white; }

.primertexto__parrafo {
  text-align: center;
  margin-left: 1vh;
  margin-right: 1vh;
  color: white; }

.lista_index {
  display: none;
  color: white; }

.fondo_foto1 {
  height: 100%; }

.fondoweb {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  display: grid;
  margin: 5px;
  margin-top: 5vh;
  margin-bottom: 10vh;
  max-height: 105vh; }

.grid-item {
  background-image: radial-gradient(#007ea7, #003459, #00171f);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #ffffff; }

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  height: 90%; }

.botton {
  position: absolute;
  left: 50%;
  margin-top: 10vh;
  transform: translateX(-50%) translateY(-50%);
  background: #00171f;
  color: #ffffff;
  width: 200px;
  height: 60px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  transition: .6s;
  overflow: hidden;
  position: relative; }
  .botton a {
    text-decoration: none !important; }
    .botton a:focus {
      outline: 0; }
  .botton:before {
    content: '';
    display: block;
    position: absolute;
    background: #003459;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg); }
  .botton:after {
    content: '';
    display: block;
    position: absolute;
    background: #003459;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg); }

.fondo_botones {
  border-style: double;
  border-color: #007ea7;
  display: grid;
  background: radial-gradient(#003459, #00171f);
  margin: 5px;
  max-height: 103vh; }

#section-carrito {
  font-family: oswald, sans-serif;
  width: 30%;
  height: 30%;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2c50ee;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  color: white; }

#section-carrito div {
  display: flex;
  justify-content: center;
  margin: 10px; }

#container-general {
  display: flex;
  flex-direction: row; }

#section-paquetes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end; }

button {
  background: #00171f;
  color: #ffffff;
  width: 200px;
  height: 60px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  transition: .6s;
  overflow: hidden;
  position: relative; }

.servicios1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin: 5px;
  margin-top: 80px;
  padding-bottom: 50px;
  height: 40vh; }

.servicios1__texto {
  display: grid;
  text-align: center;
  padding-bottom: 15px;
  color: white; }

.fondoservicios {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  height: 35vh;
  margin: 5px;
  margin-top: 30px; }

ul {
  list-style: none; }

.listas {
  border-style: ridge;
  border-color: #003459;
  -webkit-text-stroke: #00a8e8; }

.li1 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li2 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li3 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li4 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li5 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li6 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li7 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li8 {
  background: white;
  background: linear-gradient(90deg, #00171f 0%, #003459 50%, #007ea7 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

.li9 {
  background: white;
  background: linear-gradient(90deg, #007ea7 0%, #003459 50%, #00171f 100%);
  background-size: 200% 100%;
  animation: gradient 2s ease-in-out infinite;
  text-align: center;
  color: white; }

#slider .foto_slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  overflow: hidden;
  border-left: 10px solid #ffffff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  transform: skewX(-20deg);
  transition: width 1.2s ease-in-out; }

#slider:hover div {
  width: 108px;
  cursor: default; }
  #slider:hover div:hover {
    width: 392px; }

#slider > div:first-child {
  margin-left: -63px; }

#slider > div:last-child {
  margin-right: -63px; }

.foto_slide img {
  margin-left: -55px;
  transform: skewX(20deg); }

#fotoservicios {
  margin-bottom: 80px; }

.nosotros1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin-top: 50px;
  max-height: 300vh;
  height: auto;
  padding-bottom: 10px; }
  .nosotros1 .nosotros1_parrafo {
    padding: 5px 5px;
    text-align: center;
    height: auto;
    color: white; }

.nosotros2 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin-top: 80px;
  padding-bottom: 10px;
  max-height: 300vh;
  display: grid;
  justify-content: center; }
  .nosotros2 .caja {
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    border: 2px solid #00a8e8;
    border-radius: 14px;
    text-align: center;
    position: relative; }
    .nosotros2 .caja .caja .container_parrafo {
      width: 100%;
      height: 150px;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 0px 0px 14px 14px; }
      .nosotros2 .caja .caja .container_parrafo .caja p {
        font-size: 15px; }

.fondo_ubi {
  border-style: double;
  border-color: #007ea7;
  grid-template-columns: 1;
  max-height: 180vh;
  max-width: 100vh;
  background-color: #00171f;
  margin: 5px;
  margin-top: 80px;
  margin-bottom: 65px; }
  .fondo_ubi iframe {
    width: 99%;
    display: block; }

.textoubi1 {
  text-align: center;
  padding-left: 5px;
  padding-bottom: 20px;
  margin-left: 2vh;
  margin-right: 2vh;
  color: white; }

.textoubi2 {
  padding-right: 50px;
  line-height: 85px;
  padding-left: 20px;
  color: white; }

.contacto1 {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  display: grid;
  margin: 5px;
  padding-bottom: 110px;
  text-align: center;
  margin-bottom: 15vh;
  color: white; }

.contacto1__contact {
  display: grid;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-bottom: 3vh;
  padding-right: 5vh;
  font-size: 2vh; }

.telefono {
  text-align: left;
  margin-left: 25px;
  font-style: italic; }

.redes {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px; }

.fbig {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px;
  font-style: italic; }

.mail {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px; }

.correo {
  text-align: left;
  margin-left: 25px;
  margin-top: 35px;
  font-style: italic; }

.contacto1__form {
  margin-top: 5vh; }

input {
  color: black; }

#consulta {
  color: black; }

#botonenviar {
  background-color: #007ea7;
  border-style: solid;
  border-color: #00a8e8;
  height: 5vh;
  width: 15vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 2s; }
  #botonenviar:hover {
    width: 45vh; }

.terms {
  border-style: double;
  border-color: #007ea7;
  background-color: #00171f;
  margin: 5px;
  margin-top: 80px;
  max-height: 285vh; }

.leermas {
  text-align: center;
  padding-bottom: 10px; }

.containerbarraup {
  background-color: #00171f;
  height: 50px;
  border-style: groove;
  border-color: #00171f;
  border-bottom-color: #00a8e8; }
  .containerbarraup img.log {
    padding-top: 10px;
    padding-right: 45px;
    float: right; }
  .containerbarraup img.carrito {
    padding-top: 10px;
    padding-right: 15px;
    float: right; }
  .containerbarraup .barraup {
    color: none; }

#container-general {
  display: flex;
  flex-direction: row; }

#section-paquetes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end; }

.card-paquete {
  width: 40%;
  margin: 20px;
  text-align: center; }

.font {
  font-size: 18px;
  font-family: oswald, sans-serif; }

.img-container {
  overflow: hidden;
  position: relative; }

.img-container img {
  width: 90%;
  height: 50%;
  margin: 10px; }

.boton {
  font-size: 15px;
  font-family: oswald, sans-serif;
  width: 50%;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  color: #ffffff;
  background-color: #00a8e8; }
  .boton:before {
    content: '';
    display: block;
    position: absolute;
    background: #003459;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg); }
  .boton:after {
    content: '';
    display: block;
    position: absolute;
    background: #003459;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg); }
  .boton:hover {
    background: #007ea7;
    cursor: pointer; }
    .boton:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: .7s; }
    .boton:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s; }

.info-paquete {
  display: flex;
  flex-direction: column; }

#section-carrito {
  font-family: oswald, sans-serif;
  width: 30%;
  height: 30%;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #00171f;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  color: #ffffff; }

#section-carrito div {
  display: flex;
  justify-content: center;
  margin: 10px; }

.button {
  background: #00171f;
  color: #ffffff;
  width: 10px;
  height: 10px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  transition: .6s;
  overflow: hidden;
  position: relative; }
  .button:hover {
    background: #007ea7;
    cursor: pointer; }
    .button:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: .7s; }
    .button:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: #1f4b95;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  margin-right: 15px;
  font-size: 20px;
  color: #1f4b95;
  border: none;
  background-color: white;
  width: 20px; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioPaquete {
  padding-top: 10px; }

#boton-carrito {
  border: none;
  color: white;
  font-size: 20px;
  transition: all .3s;
  height: 100%;
  width: 50px;
  background-color: #003459; }

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: #1f4b95; }

#boton-carrito:focus {
  outline: none; }

.divcarrito {
  float: right;
  align-items: right;
  justify-items: right; }

#contenedor-paquetes {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.paquete {
  border: 1px solid white;
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #003459; }

.paquete:hover {
  border: 2px solid rgba(0, 0, 0, 0.384);
  transform: scale(1.1, 1.1);
  transition: ease .8s;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.384); }

.precioPaquete {
  font-weight: 700; }

.boton-agregar {
  background-color: #00171f;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none; }

.boton-comprar {
  background-color: #008000;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none; }

.boton-agregar:hover {
  cursor: pointer; }

.boton-agregar:focus {
  outline: none; }

.boton-comprar:hover {
  cursor: pointer; }

.boton-comprar:focus {
  outline: none; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll; }
  .modal-contenedor p {
    color: black; }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: #1f4b95;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioPaquete {
  padding-top: 10px; }

.paqueteEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.paqueteEnCarrito:hover {
  border-left: 5px solid #1f4b95; }

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px; }

.boton-eliminar:hover {
  cursor: pointer; }

.boton-eliminar:focus {
  outline: none; }

#fotocarrito {
  color: white; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px; }

body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(foto.jpg); }

a {
  color: white !important; }

@media only screen and (min-width: 800px) {
  nav {
    border-style: double;
    border-color: #007ea7;
    display: grid;
    justify-content: space-evenly;
    background-color: #00171f;
    margin: 5px;
    grid-template-columns: 5;
    font-size: 15px;
    word-spacing: 100px; }
    nav .menu {
      margin: 5px; }
      nav .menu a:hover {
        background-color: #00a8e8;
        border-radius: 2px; }
  h1 {
    color: #ffffff;
    padding-bottom: 45px;
    padding-top: 50px;
    -webkit-text-stroke: 1px #007ea7;
    font-size: 40px;
    text-align: center;
    background-color: #00a8e8;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    line-height: 5px; }
  .index1 {
    padding-bottom: 130px;
    margin-left: 30vh;
    margin-right: 30vh;
    max-height: 103vh; }
  .lista_index {
    position: absolute;
    display: grid;
    padding-top: 5vh;
    padding-left: 5vh;
    width: 40%; }
  .listas_index {
    list-style-image: url(../photos/check.png); }
  .list1 {
    background: linear-gradient(to right, transparent, #00171f, #003459, #007ea7, #ffffff, transparent);
    margin-bottom: 3vh;
    margin-left: 5vh;
    border-style: solid 1px;
    border-radius: 5px; }
  .list2 {
    background: linear-gradient(to right, transparent, #00171f, #003459, #007ea7, #ffffff, transparent);
    margin-bottom: 3vh;
    margin-left: 5vh; }
  .list3 {
    background: linear-gradient(to right, transparent, #00171f, #003459, #007ea7, #ffffff, transparent);
    margin-top: 3vh;
    margin-left: 5vh; }
  .botton {
    position: absolute;
    left: 50%;
    margin-top: 10vh;
    transform: translateX(-50%) translateY(-50%); }
  .botton {
    background: #00171f;
    color: #ffffff;
    width: 200px;
    height: 60px;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    transition: .6s;
    overflow: hidden;
    position: relative;
    text-align: center; }
    .botton a {
      text-decoration: none !important; }
      .botton a:focus {
        outline: 0; }
    .botton:before {
      content: '';
      display: block;
      position: absolute;
      background: #003459;
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .5;
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg); }
    .botton:after {
      content: '';
      display: block;
      position: absolute;
      background: #003459;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg); }
    .botton:hover {
      background: #007ea7;
      cursor: pointer; }
      .botton:hover:before {
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        transition: .7s; }
      .botton:hover:after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: .7s; }
  .fondo_botones {
    border-style: double;
    border-color: #007ea7;
    display: grid;
    background: radial-gradient(#003459, #00171f);
    margin-left: 70vh;
    margin-right: 70vh;
    max-height: 103vh; }
  .fondo_foto1 img {
    height: 100%; }
  .fondoweb {
    display: none; }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 5vh; }
  footer {
    font-size: 15px; }
  .servicios1 {
    margin-left: 35vh;
    margin-right: 35vh;
    text-align: center;
    height: 25vh;
    padding-bottom: 90px; }
  .fondoservicios {
    border-style: double;
    border-color: #007ea7;
    background-color: #00171f;
    padding: 25px;
    margin: 5px;
    margin-top: 30px;
    text-align: center;
    height: 95vh; }
  #slider {
    background: #ffffff;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7); }
  .nosotros1 {
    margin-left: 35vh;
    margin-right: 35vh;
    text-align: center;
    height: 35vh;
    padding-bottom: 150px;
    margin-bottom: -40px; }
  .nosotros1_parrafo {
    padding: 5px 5px; }
  .nosotros2 {
    display: flex;
    flex: wrap;
    justify-content: center;
    margin-left: 35vh;
    margin-right: 35vh;
    height: 25vh;
    padding-bottom: 150px; }
  .caja {
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    border: 2px solid #00a8e8;
    border-radius: 14px;
    text-align: center;
    position: relative; }
  .caja img {
    margin-top: 58px;
    transition: all 400ms; }
  .caja h4 {
    margin-top: 10px;
    transition: all 500ms; }
  .caja .container_parrafo {
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0px 0px 14px 14px;
    overflow: hidden; }
  .caja p {
    font-size: 15px;
    opacity: 0;
    transform: translateY(150px);
    transition: all 600ms; }
  .caja:hover {
    background: #003459; }
  .caja:hover img {
    transform: translateY(-57px); }
  .caja:hover h4 {
    transform: translateY(-57px); }
  .caja:hover .container_parrafo p {
    transform: translateY(0px);
    opacity: 1; }
  .fondo_ubi {
    border-style: double;
    border-color: #007ea7;
    display: grid;
    background-color: #00171f;
    margin: 5px;
    margin-top: 80px;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 65px;
    padding-bottom: 350px;
    height: 40vh;
    max-width: 70%; }
  .textoubi1 {
    padding-bottom: 45px;
    padding-top: 30px;
    padding-right: 35px;
    text-align: right;
    border: none;
    grid-column: 1; }
  .textoubi2 {
    float: left;
    padding-right: 260px;
    padding-bottom: 5vh;
    line-height: 85px; }
    .textoubi2 img:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
  #iframe {
    height: 50vh;
    width: 65vh;
    position: relative;
    float: right;
    margin-left: 50vh;
    margin-top: -55vh; }
  .contacto1 {
    border-style: double;
    border-color: #007ea7;
    background-color: #00171f;
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 65px;
    padding-bottom: 90px;
    text-align: start;
    font-size: 3vh;
    margin-left: 30vh;
    margin-right: 30vh; }
  .contacto1__contact {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    font-size: 3vh;
    width: 50%;
    padding-bottom: 3vh; }
  .telefono {
    text-align: left;
    margin-left: 25px;
    grid-column: 1; }
  .redes {
    grid-column: 1;
    text-align: left;
    margin-left: 25px; }
  .fbig {
    grid-column: 1; }
  .mail {
    grid-column: 1; }
  .correo {
    grid-column: 1; }
  .contacto1__form {
    grid-template-columns: auto;
    padding-left: 90vh;
    position: absolute;
    text-align: center; }
  .terms {
    max-height: 160vh;
    padding-bottom: 60px;
    margin-left: 30vh;
    margin-right: 30vh; } }

@media only screen and (max-width: 600px) {
  .ocultar_div {
    display: none; }
    .ocultar_div #iframe {
      width: 5vh;
      margin-top: 30vh; } }

.fotologo {
  margin-top: 30px; }
