//* SIN MEDIA QUERIES *//

@mixin bordes {
    border-style: double;
	border-color: $color-tres;
}
//* NAV *//
.fotologo {
	text-align: center;
}
nav {
    @include bordes;
	display: grid;
	justify-content: space-evenly;
	background-color: $color-uno;
	margin: 5px;
	grid-template-columns: 5;
	font-size: 12px;
	word-spacing: 15px;
	.menu {
		margin: 5px;
	}
}
	

//* FOOTER *//
footer {
	display: grid;
	font-size: 10px;
	margin-top: 5vh;
}
.lasttext { //* TEXTO DE TODOS LOS DERECHOS RESERVADOS *//
    @include bordes;
	text-align: center;
	margin-left: 5px;
	background-color: $color-uno;
}
.copyright { 
    @include bordes;
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
	background-color: $color-uno;
}