//* SIN MEDIA QUERIES *//

@mixin bordes {
    border-style: double;
	border-color: $color-tres;
}
@mixin hoverlinks {
	background-color: $color-cuatro;
	border-radius: 2px;
}
//* NAV *//
.fotologo {
	text-align: center;
}
nav {
    @include bordes;
	display: grid;
	justify-content: space-evenly;
	background-color: $color-uno;
	margin: 5px;
	grid-template-columns: 5;
	font-size: 12px;
	word-spacing: 15px;
	.menu {
		margin: 5px;
	}
}
	

//* FOOTER *//
footer {
	display: grid;
	font-size: 10px;
	margin-top: 10vh;
}
.fondo_lasttext { //* TEXTO DE TODOS LOS DERECHOS RESERVADOS *//
    @include bordes;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	background-color: $color-uno;
	height: 13vh;
	padding-top: 15px;
	.text_lasttext {
		background: linear-gradient(to right, transparent, $color-dos, $color-tres, $color-dos, transparent);
		text-align: center;
		font-size: 1rem;
	}
	.logosmall {
		padding-top: 2vh;
}
	img:hover {
		background: linear-gradient(to right, transparent, $color-dos, $color-tres, $color-dos, transparent);
		padding-left: 50vh;
		padding-right: 50vh;
		transition: 5s;
	}
}

.fondo_copyright { 
    @include bordes;
	display: grid;
	grid-template-columns: 2;
	justify-content: space-between;
	margin-left: 5px;
	margin-right: 5px;
	background-color: $color-uno;
	height: 10vh;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1rem;
	padding-left: 3vh;
}
.term {
	grid-column: 1;
	a:hover {
		@include hoverlinks;
		color: $color-uno;
	}
}
.politic {
	grid-column: 1;
	a:hover {
		@include hoverlinks;
		color: $color-uno;
	}
}
.copyright {
	grid-column: 1;
}
.irarriba {
	grid-column: 2;
	padding-right: 3vh;
	a:hover {
		@include hoverlinks;
		color: $color-uno;
	}
}